@import url(variables.css);



/*MOBILE NAVIGATION*/

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*TABLETS*/

@media (max-width: 992px) {
  #hero .container {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}





  


