
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Open + Sans: wght @ 300; 400; 500; 700 & display = swap');
@font-face {
    font-family: 'Proxima nova';
    src: url(Fontes/Proxima\ Nova\ Font.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #DBFFFF;
    --cor1: #73E6E6;
    --cor2: #2dada6;
    --cor3: #109648;
    --cor4: #03302D;
    --cor5: #5A707C;
    --cor6: #139188;
    --cor7: #ecf7f7a2;

    --font-padrao:'Open Sans', arial, sans-serif;
    --font-destaque: 'Philosopher', sans-serif;
 }

 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*congigurção do menu responsivo e do cabeçalho*/

body{
    overflow-x: hidden;
    margin: 0px;
    flex-direction: column;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 110px;
    margin-top: 15px;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
   
}

.hamburger-menu {
    display: none;
    cursor:pointer;
}

.hamburger-menu div {
    width: 34px;
    height: 3px;
    margin: 6px;
    border-radius: 10px;
    background-color: var(--cor6);
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}
.menu > li{

    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font: 600 16px 'Proxima nova';
    color:var(--cor6);
    transition: .3s;
}

a#wpp {
    padding: 0px;
}
a:hover {
    color:var(--cor1);
}

@media (max-width:850px) {

    .hamburger-menu {
        display: block;
    }
    
    .menu {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        top: 100px;
        right: 0px;
        background-color:var(--cor7);
        height:0px;
        z-index: 1000;
        transition: 0.6s;
        overflow-y: hidden;
        height: 0px;
        visibility: hidden;
    }

    .menu li {
        margin-left: 0px;
        opacity: 0;
    }

    .menu.active  {
        height: calc(100vh - 100px);
        transform: translateY(0);
        visibility: visible;
        
    }
    .menu.active .hamburger-menu line{
        display: none;
    }
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Configurações da capa*/

section.capa{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: calc(100vh - 100px); 
    margin-top: 15px;
    padding: 0px 20px;
    background-color:#FFFFFF;
    max-height: 850px;
    min-height: 560px;
}

.capa picture{
    max-height: (100vh - 100px);
}
.capa-texto{
    max-height: 100%;
    padding-bottom: 200px;
}

.capa-texto h1{
    font-family: var(--font-destaque);
    font-size: 80px;
    color: var(--cor4);
}
.capa-texto span {
    color: var(--cor2);
}
.capa-texto p{
    font-family: var(--font-padrao);
    font-size: 18px;
    color:var(--cor5);
}

@media (max-width:770px){
    section.capa {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-size: contain;
        height: 80%;
    }
    .capa-texto {
        display: block;
        padding-top: 20px;
        padding-bottom: 0px;
        margin-bottom: 50px;
    }

    .capa-texto h1 {
        font-size: 50px;
    }
}

/*conteudo*/

main {
    padding: 0px 10px;
    margin-top: 50px;
}

.atendimento {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    max-width: 1300px;
    padding-top: 20px;
}

.atendimento h1 {
    font-family: var(--font-destaque);
    font-size: 50px;
    color: var(--cor4);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.atendimento p {
    font-family: var(--font-padrao);
    font-size: 18px;
    color:var(--cor5);
    text-align: center;
    margin-bottom: 30px;
}
.tipos-de-pes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tipos-de-pes div {
    text-align: center;
    width: 320px;
    height: 380px;
    padding: 5px;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 3px 10px 2px rgb(0 0 0 / 20%);
}
.tipos-de-pes h2{
    font-family: var(--font-destaque);
    font-weight: bold;
    font-size: 30px;
    color: var(--cor4);
}

.tipos-de-pes button{
    font-family: var(--font-padrao);
    font-weight: normal;
    font-size: 13px;
    color: white;
    background-color: var(--cor2);
    width: 150px;
    padding: 15px ;
    border:none;
    margin-top: 10px; 
    border-radius: 50px;
    cursor: pointer;
}

.botaotiposdepes:hover {
    background-color:#2dada69f;
    transition: 0.3s;
}
  /*procedimentos*/
 
.procedimentos{
    height:100vh;
    margin: auto;
    max-height: 1000px;
    max-width: 1300px;
    padding-top: 20px;
}
.procedimentos h1 {
    font-family: var(--font-destaque);
    font-size: 50px;
    color: var(--cor4);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.procedimentos p {
    font-family: var(--font-padrao);
    font-size: 18px;
    color:var(--cor5);
    text-align: center;
    margin-bottom: 30px;
}

.procedimentos article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:calc(100vh - 140px);
    width: 100%;
    margin: auto;
    max-height: 1000px;
    max-width: 1300px;
}

#object-circle {
    width:60%;
    height: 100%;
    border-radius: 0px 670px 0px 0px;    
    background-color:var(--cor6);
    
}

@media (max-width:600px){
    .atendimento h1 {
        font-size: 40px;
    }

    .atendimento p {
        font-size: 16px;
    }
    .tipos-de-pes div{
        width: 280px;
        height: 320px;
        margin-right: 0px;
    }
    .procedimentos h1 {
        font-size: 40px;
    }

    .procedimentos p {
        font-size: 16px;
    }
}
/*SOBRE*/

@media (max-width:) {
    
}



/*ANIMAÇÃO*/

[data-anima]{
    opacity: 0;
    transition: 0.5s;
}
[data-anima="esquerda"]{
    transform: translate3d(0,0,0) ;
}
[data-anima="direita"]{
    transform: translate3d(50px,0,0); /*x,y,z*/
}
[data-anima="centro"]{
    transform: translate3d(0,50px,0);
}
[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);
}